#results {
  display: none;
}

#rangeInput {
  width: 10%;
}

#question-2 {
  width: 10%;
}

#question-3 {
  width: 10%;
}

#question-4 {
  width: 10%;
}

#question-5 {
  width: 10%;
}

#submit-button {
  margin-top: 2%;
}

#results-container {
  text-align: center;
}

#results-background {
  margin-top: 20px;
  background: url("https://bit.ly/3auD71I");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background: none;
}

#form-background {
  margin-top: 20px;
  background: url("https://bit.ly/3auD71I");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#title-background {
  margin-top: 20px;
  background: url("https://bit.ly/3iI4CaW");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  color: white;
}

#small-title-text {
  color: white;
}

#nameDiv {
  margin-top: .5%;
  margin-bottom: 3%
}

#copyright {
  margin-top: 10%;
  padding-bottom: 2%;
  padding-left: 2%;
  text-align: center;
}

#list {
  float: right;
  font-size: 150%;
}

label {
  font-size: 130%
}

#refresh-btn {
  margin-top: 5%;
}

body {
  background: url("https://bit.ly/32mfPY7");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}